.title{
    color: #000;
    font-family: 'Chelsea Market', cursive;
    font-size: 40px;
    font-weight: 300;
}
.section{
    background-image: url("../../Image/grunge-diagonal-stripe-background_1409-1366.jpg");
    
}